body {
  background-color: var(--main-cover-color);
  color: var(--parahraph-color);
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --main-cover-color:#DCDDE7;
  --parahraph-color:#36383F;
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

.top-header {
  display: none;
}

@media screen and (min-width: 1200px) {
  .top-header {
    background: #f4f5f8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.location_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 13px;
  line-height: calc(16 / 13);
  color: #36383f;
}

.location_icon {
  margin-right: 2px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #6e7284;
}

.nav + .nav {
  margin-left: 20px;
}

.order {
  margin-left: 75px;
}

.tell_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 13px;
  line-height: calc(16 / 13);
  color: #36383f;
}

.tell-order {
  font-weight: 500;
  font-size: 15px;
  line-height: calc(18 / 15);
  letter-spacing: 0.02em;
  color: #4788ff;
}

.sell_color {
  margin-left: 107px;
  color: #f04716;
}

.order_svg {
  margin-right: 6px;
}

.header_search {
  height: 122px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .header_search {
    height: 82px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.header_logo {
  padding-bottom: 30px;
  padding-top: 30px;
  width: 260px;
  height: 62px;
}

@media screen and (max-width: 768px) {
  .header_logo {
    width: 220px;
    height: 52.46px;
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

.header-logo_lnk {
  margin-right: 134px;
}

@media screen and (max-width: 768px) {
  .header-logo_lnk {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .seach-icon_box {
    display: none;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .seach-icon_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-mobil_btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu-mobil_btn {
    display: block;
    background-color: transparent;
    border: 1px #dedfe7;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 12px;
  }
}

.seach-icon_box {
  position: relative;
}

@media screen and (max-width: 768px) {
  .seach-icon_box {
    display: none;
  }
}

.search_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #dedfe7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  width: 518px;
  height: 46px;
  padding-left: 46.5px;
}

.search_input:focus, .search_input:hover {
  outline: none;
}

.placeholder_icon {
  position: absolute;
  width: 18.5px;
  height: 18.5px;
  bottom: 28%;
  left: 10px;
}

.search-btn_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .search-btn_list {
    display: none;
  }
}

.search-btn_item + .search-btn_item {
  margin-right: 10px;
}

.search_btn {
  padding: auto;
  border: 1px solid #dedfe7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 52px;
  background-color: #0a4ecb;
}

.menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu_item,
.menu_item--catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #ffffff;
}

.menu_item + .menu_item {
  margin-left: 41px;
}

.menu_item--catalog {
  margin-right: 75px;
  outline: 2px solid tomato;
}

.menu-catalog_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 17px;
}

.catalog-menu_icon {
  margin-right: 10px;
}

.catalog-down_icon {
  margin-left: 10px;
}

.menu-sale_icon {
  margin-right: 6px;
}

.menu-sale_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 76px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #fffa2f;
}

.menu_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */